@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('img/universe.webp');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
    align-items: top;
}

header h3 {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 200;
    font-size: 6vw;
    color: #ffffff;
    margin-top: 20px;
}

section {
    margin-top: 20px;
    text-align: center;
}

section .sun {
    width: auto;
}

.sun {
    width: 100%;
    animation-name: sun-rotate;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes sun-rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

section #add {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section #add label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    margin: 20px 50%;
    background-color: #ffffff2e;
    font-size: 20px;
    padding: 0 20%;
    height: 80px;
    border-radius: 5px;
    color: #ffffff;
    transition: 0.3s;
}

section #add label:hover {
    cursor: pointer;
    background-color: #ffffff17;
}

section #add input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

section #add input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

section #add input[type='file'] {
    display: none;
}

section #add input {
    margin: 20px 5px;
    padding-left: 10px;
    min-width: 300px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff2e;
    font-size: 15px;
    color: #ffffff;
    transition: 0.3s;
}

section #add input::placeholder {
    color: #ffffff9c;
}

section #add input:focus {
    outline: none;
}

section #add input:hover {
    background-color: #ffffff17;
}

section button {
    margin: 30px;
    background-color: #3b86e1;
    font-size: 18px;
    color: #ffffff;
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    box-shadow: inset 0 0 8px 2px #3b86e1, 0 0 30px 10px #3b86e1;
}

section button:hover {
    background-color: #5aa4ff;
    cursor: pointer;
}

section #update {
    background-color: #ffc229;
    box-shadow: inset 0 0 8px 2px #ffc229, 0 0 30px 10px #ffc229;
}

section #update:hover {
    background-color: #fdcf59;
}

section #alert {
    margin-top: 20px;
    font-size: 16px;
}

section .planets {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 40px auto;
    padding-top: 40px;
}

section .planets .planet {
    width: 70%;
}

section .planets .planet img {
    width: 100%;
}

.planet-rotate {
    width: 100%;
    animation-name: planet-rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes planet-rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

section .planets .data {
    width: 30%;
    font-size: 16px;
    color: #ffffff;
}

section .planets .data strong {
    color: #ffc229;
}

section #box .edit {
    margin: 0 10px;
    background-color: #ffc229;
    font-size: 18px;
    color: #ffffff;
    width: 140px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    box-shadow: inset 0 0 8px 2px #ffc229, 0 0 30px 10px #ffc229;
}

section #box .edit:hover {
    background-color: #fdcf59;
    cursor: pointer;
}

section #box .delete {
    margin: 0 10px;
    background-color: #ff2929;
    font-size: 18px;
    color: #ffffff;
    width: 140px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    box-shadow: inset 0 0 8px 2px #ff2929, 0 0 30px 10px #ff2929;
}

section #box .delete:hover {
    background-color: #fd5959;
    cursor: pointer;
}

footer {
    margin-top: 100px;
    text-align: center;
}

footer img {
    width: 300px;
}

.voyager {
    animation-name: voyager-rotate;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes voyager-rotate {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(40deg);
    }
}
